*{
    margin: 0;
    padding: 0;
}


body {
    background-color: #f8e3f5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

header {
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-between;
    align-items: start;
    border-bottom: 4px dotted #f035d4;
}

header ul {
    display: flex;
    list-style: none;
}



a {
    text-decoration: none;
    color:#ec78db;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 12px;
}

.carousel {
    display: grid;
    justify-items: center;
    padding: 3%;
}

h1 {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #ec78db;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}


p {
    text-align: center;
    margin: 5rem;
    color: #f035d4;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}


.cv img {
    align-items: center;
    margin: 5%;
}

.reel {
    display: grid;
    align-items: center;
    padding: 3%;
}


textarea {
    height: 280px;
    width: 320px;
}

span {
    color: #ec78db;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ec78db;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

.odaia-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#ec78db;
    font-weight: bolder;
    font-size:x-large;
    text-decoration: underline overline;
}

form {
    padding: 5%;

}
