*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #f8e3f5;
}

header {
    display: flex;
    flex-direction: column;
    padding: 4%;
    justify-content: space-around;
    align-items: start;
}

header ul {
    display: flex;
    text-decoration: none;

}

header li {
    margin: 7px;
}

header a {
    text-decoration: none;
    color:#ec78db;
    font-family: "EB Garamond", serif;
    margin: 12px;
}

.carousel{
    display: grid;
    justify-items: center;
    padding: 3%;
}

h1{
    display: grid;
    justify-content: center;
    text-decoration: overline underline;
    margin-top: 5%;
    color: #ec78db;
    font-family: "EB Garamond", serif;  
}

h2{
    text-align: center;
    text-decoration: underline;
    color: #ec78db;
    font-family: "EB Garamond", serif;   
}

h3{
    text-align: left;
    word-spacing: 0%;
    color:#ec78db ;
    font-family: "EB Garamond", serif;
}

h4{
    color:#ec78db;
    font-family: "EB Garamond", serif;
    
}

p{
    text-align: center;
    margin: 5rem;
    color: #f035d4;
    font-family: "EB Garamond", serif; 
}

/*
a{
    text-decoration: none;
    color:#ec78db
}*/ 

.cv{
    text-align: center;
}

.reel{
    text-align: center;
}


textarea{
    height: 280px;
    width: 320px;
}

.copyright p{
    color: #ec78db;
    font-family: "EB Garamond", serif;
}

footer div {
    display: grid;
    align-content: space-around;
}


form{
    font-family: "EB Garamond", serif;
    color: #ec78db;
}
